<%- include("../partials/header") %>

</nav>
    <div class="container">
        <header class="jumbotron text-center">
            <div class="container">
            <h1 class="specialFonts"><i class="fa fa-fire"></i> Welcome to YelpCamp!</h1>
            <p>Explore the best campgrounds from all over the world</p>
            <p>
                <a class="btn btn-outline-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
            </p>
            </div>
        </header>

    <div class="row text-center" id="campgrounds">
        <% campgrounds.forEach(function(campgrounds){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="<%= campgrounds.image %>" alt="<%= campgrounds.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= campgrounds.name %></h5>
                        <a href="/campgrounds/<%= campgrounds._id %>" class="btn btn-outline-info">More Info</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>


<%- include("../partials/footer") %>